body
{
background-image:url('../Images/bg.png');
background-position: center top;
background-repeat:no-repeat;
background-size:100% 200%;
max-height:1500px;
}
#container{

background-color:white;
width:80%;
height:800px;
margin-top:20px;
margin-left:140px;
margin-right:150px;
border-radius:10px;
overflow:auto;

}
#menubar {
	position: relative;
	width: 500px;
	border-bottom: 1px solid #DDDDDD;
	color: #000000;
	font: bold 15px/160% Georgia, "Times New Roman", Times, serif;
	letter-spacing: 0.1em;
	margin: 0 0 7px;
	padding: 0 0 50px;
	text-transform: uppercase;
        margin-left: 10px;
}

#about-content {
	left: 350px;
	top: 35px;
	background-color: white;
	padding-top: 40px;
}

#home {
	position: absolute;
	left: 20px;

}

#posts {
	position: absolute;
	left: 130px;
}

#About_me {
	position: absolute;
	left: 350px;
}

a {
	text-decoration: none;
        font-size:150%;
      color:#020800;

}

#my_info {
	position: relative;
	font: italic 15px/200% Georgia, "Times New Roman", Times, serif;
	width: 60%;
	top: 50px;
	margin-left: 25px;
}

#photo {
	position: relative;
	float: right;
	right:80px;
        top: -150px;
        box-shadow: 12px 12px 12px #000;
}
.photo {
	width:250px;
        height:240px;
}

img{
	width:200px;
	height: 200px;
	border-radius:5px;
       
        
	
}
h1{
     color: #78AD07;
    font-family: CopseRegular,Arial,Helvetica,sans-serif;
    font-size: 4.5em;
    line-height: 1em;
    text-shadow: 5px 3px 1px #EEEEEE;
    text-transform: lowercase;
    margin-left: 25px;
}
h2{
color: #78AD07;
font-size: 2.5em;
width:300px;
box-shadow: 9px 9px 9px #000; 

}
.shadow{

box-shadow: 9px 9px 9px #000;
} 
.border{
border-bottom: 1px solid #DDDDDD;
}
h3{
color: #78AD07;
font-size: 2.0em;

}
h4{
color: #78AD07;
font-size: 1.5em;

}
#link{
color: #78AD07;
font-size: 1.0em;
}
#sidetab{
background: none repeat scroll 0 0 white;
    position:fixed;
    float: right;

border-style:solid;
border-left-width:thin;
border-color:#78AD07;
    right:160px;
    top:200px; 
    padding: 0 15px 30px;
    width: 100px;
border-radius:5px;
}
