body {
	background-color: white;
}

#menubar {
	position: absolute;
	width: 500px;
	border-bottom: 1px solid #DDDDDD;
	color: #000000;
	font: bold 15px/160% Georgia, "Times New Roman", Times, serif;
	letter-spacing: 0.1em;
	margin: 0 0 7px;
	margin-top: 100px;
	padding: 0 0 50px;
	text-transform: uppercase;
        margin-left: 10px;
}

#about-content {
	left: 350px;
	top: 35px;
	background-color: white;
	padding-top: 40px;
}

#home {
	position: absolute;
	left: 20px;

}

#posts {
	position: absolute;
	left: 130px;
}

#About_me {
	position: absolute;
	left: 350px;
}

a {
	text-decoration: none;
        font-size:150%;
      color:#020800;
}

#my_info {
	position: relative;
	font: italic 15px/200% Georgia, "Times New Roman", Times, serif;
	width: 70%;
	top: 180px;
	margin-left: 25px;
}

#photo {
	position: relative;
	float: right;
	top:-120px;
	right:80px;
 box-shadow: 12px 12px 12px #000;
}
img{
	width:200px;
	height: 200px;
	border-radius:5px;
       
        
	
}
h1{
     color: #78AD07;
    font-family: CopseRegular,Arial,Helvetica,sans-serif;
    font-size: 4.5em;
    line-height: 1em;
    text-shadow: 5px 3px 1px #EEEEEE;
    text-transform: lowercase;
    margin-left: 25px;
}
h2{
color: #78AD07;
font-size: 2.5em;
width:300px;
box-shadow: 9px 9px 9px #000; 

}
.shadow{
box-shadow: 9px 9px 9px #000;
} 

h3{
color: #78AD07;
font-size: 2.0em;

}
h4{
color: #78AD07;
font-size: 1.5em;

}
#link{
color: #78AD07;
font-size: 1.5em;
}

